<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 <servlet>
	<servlet-name>Controlador</servlet-name>
	<servlet-class>controlador.Controlador</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>Controlador</servlet-name>
	<url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ControladorArticulos</servlet-name>
	<servlet-class>controlador.ControladorArticulos</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>ControladorArticulos</servlet-name>
	<url-pattern>/ControladorArticulos</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ControladorCabecera</servlet-name>
	<servlet-class>controlador.ControladorCabecera</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>ControladorCabecera</servlet-name>
	<url-pattern>/ControladorCabecera</url-pattern>
  </servlet-mapping>

</web-app>